@require "variables"

html, body
  margin 0
  height 100%
  width 100%

*
  box-sizing border-box
  font-family Roboto, Helvetica, Arial, Sans-Serif

#content
  margin-top 50px

.center
  display flex
  justify-content center