// colors
navy = #001F3F
blue = #0074D9
aqua = #7FDBFF
teal = #39CCCC
olive = #3D9970
green = #2ECC40
lime = #01FF70
yellow = #FFDC00
orange = #FF851B
red = #FF4136
fuchsia = #F012BE
purple = #B10DC9
maroon = #85144B
white = #FFFFFF
silver = #DDDDDD
gray = #AAAAAA
black = #111111

// custom colors
deep-blue = #313F70

light-blue = #2F3F70
dark-blue = #253256

material-pink = #FF4081
material-teal = #00bcd4

primary = light-blue
primary-dark = dark-blue
accent-one = material-pink
accent-two = material-teal


features-bg-1 = #6082E6
features-bg-2 = #5470C7
features-bg-3 = #3D5291
features-bg-4 = #2F3F70
features-bg-5 = #253256